@page
@model TylersWebPage.Pages.ContactModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Follow me on my socials!</title>
</head>

<body>
    <div class="container align-content-left">
        <h1>Follow me on my socials!</h1>
        <p.test1>&ensp;<img src="~/css/small.jpg" /></p.test1>
    </div>
    
    <table style="align-content:space-evenly" cellpadding="50">
        <tr style="align-self:auto">
            <td>
                <a href="https://www.facebook.com/tyler.decaro"><img src="~/css/facebook.png" style="width:25%" /></a>
                <h2><a href="https://www.facebook.com/tyler.decaro">Facebook</a></h2>
            </td>
            <td>
                <a href="https://www.linkedin.com/in/tylerdecaro/"><img src="~/css/linkedin.png" /></a>
                <h2><a href="https://www.linkedin.com/in/tylerdecaro/">LinkedIn</a> </h2>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://github.com/capaisan"><img src="~/css/github.png" style="width:25%" /></a>
                <h2><a href="https://github.com/capaisan">GitHub</a> </h2>
            </td>
            <td>
                <a href="https://account.venmo.com/u/tyler-decaro"><img src="~/css/venmo.png" /></a>
                <h2><a href="https://account.venmo.com/u/tyler-decaro">Venmo</a> </h2>
            </td>
        </tr>
    </table>
    
</body>
</html>