@page
@model TylersWebPage.Pages.ContactModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Follow me on my socials!</title>
</head>

<body>
    <div class="container">
        <h1>Follow me on my socials!</h1>
        <p><img src="~/css/small.jpg" /></p>
        <h2>
            <a href="https://www.facebook.com/tyler.decaro"><img src="~/css/facebook-logo-2021.svg" width="10" /></a>
            <a href="https://www.facebook.com/tyler.decaro">Facebook</a></h2>
        <h2><a href="https://www.linkedin.com/in/tylerdecaro/">LinkedIn</a> </h2>
        <h2><a href="https://www.instagram.com/tydecaro/?hl=en">Instagram</a> </h2>
        <h2><a href="https://github.com/capaisan">GitHub</a> </h2>
    </div>
</body>
</html>