@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to My Website</title>
</head>

<body>
    <div class="container">
        <h1>Welcome to My Website</h1>
        <p>Thank you for visiting my personal website. Here you will find information about my background, interests, and projects.</p>
        <p>Please use the menu above to navigate through the different sections of the site.</p>
    </div>

    <div text-align="center">
        <img src="https://scx1.b-cdn.net/csz/news/800/2017/theoreticala.jpg" alt=”an artist's rendition of a black hole in space”>
    </div>

</body>
</html>
