@page
@model TylersWebPage.Pages.RuneScapeModel
@{
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>RuneScape</title>

</head>
<body>
Here we should attempt to load in the data from RuneScapes API.
<br />* It would be cool to have a list of my accounts and the stats that go with them.
<br /> * Information about the Group Ironman would be cool too.
<br /> * Possibly showing pictures of the characters we have made.
<br />
<br /> * Maybe we can just create a project page that has a list of all the projects we want to work on, and another for ones we have completed.
</body>